@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>Aplikacja przygotowana w ramach zadania rekrutacyjnego dla ZEPTER IT</p>

    <a class="btn btn-secondary" asp-action="WebService">Dane pobrane z webserwisu</a>
    <a class="btn btn-secondary" asp-action="EntityFramework">Dane pobrane przy pomocy Entity Framework</a>
</div>
